<p>Computer-beatz is a non-commercial platfrom. Although there is advertisement 
(webspace is not for free), the music is for free. Artists do not earn mony, 
but maybe some publicity. So we are glad when someone distributes the 
publications (according to the license), but be fair enough to stick to 
following rules:
</p>

<ul>
	<li>
		Do not change the MP3-Tags
	</li>
	<li>
		Link back to <em>computer-beatz.net</em>, or if the distribution is
		not online, make it obvious that the publication was found on 
		<em>computer-beatz.net</em>
	</li>
	<li>
		Each <em>Project</em> is free to specify own attribution rules. 
		Read what the projects tell you, and stick to it.
	</li>
</ul>

<p>Not realy a must (unless a project tells so): It is kind to tell the 
<em>Project</em> / computer-beatz what you do with stuff found here.
</p>