<% unless @found %>
	<span class="error-icon" title="This user name is not in the database">&nbsp;</span>
<% else %>
	<span class="ok-icon" title="The user was found">&nbsp;</span>
	<% unless @free_mail %>
		<span class="red-error">But <%=@reciever.login%>`s mailbox is full!!!</span>
	<% end %>
<% end %>
