log/*.log
tmp/**/*

cb-key
cb-key.pub
computer-beatz
computer-beatz.pub

public/audios/*

public/groups/logos/*
!public/groups/logos/missing_thumb.png
!public/groups/logos/missing_small.png
!public/groups/logos/missing_original.png

public/projects/logos/*
!public/projects/logos/missing_thumb.png
!public/projects/logos/missing_small.png
!public/projects/logos/missing_normal.png
!public/projects/logos/missing_original.png

public/releases/covers/*
!public/releases/covers/missing_thumb.png
!public/releases/covers/missing_normal.png
!public/releases/covers/missing_original.png

public/users/avatars/*
!public/users/avatars/missing_thumb.png
!public/users/avatars/missing_small.png
!public/users/avatars/missing_original.png

config/database.yml