<div id="group-menu">
	<%= link_to_unless_current 'Show Group', group_path(@group) %>
	<% if show_group? @group -%>
	<%= link_to_unless_current 'Topics', group_topics_path(@group) %>
	<% end -%>
	<%= link_to_unless_current 'Members', group_members_path(@group)%>
	<%= link_to_unless_current 'Edit Membership', edit_group_member_path(@group.id, @member) %>
</div>