<div class="margin-left">
<p>
	<h3><%=h @mix.name %></h3>
</p>
<% form_for( @mix, :url => {:action => 'check_added_artist', :id => @mix.id, :method => :post} )do |f| %>
  <p>
    <%= f.label :artist %><br />
    <%= text_field_with_auto_complete :artist, 
									  :name,
									  {:autocomplete => 'off'},
									  {:method => :get, :skip_style => true, :url => {:controller => 'artists', :action => 'auto_complete_for_artist_name'} } %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
</div>