<h2>computer-beatz Terms of Use</h2>
<h3>Acceptance of Terms and Conditions</h3>
<ol><li>You acknowledge and agree that the following Terms of Use constitute a legally binding agreement 
(hereinafter the “Agreement”) between you (hereinafter the “USER”) and the website administrator. 
Berlin, Germany (hereinafter “SOUNDCLOUD”) in relation to your use of COMPUTER-BEATZ’s Internet platform 
at computer-beatz.net (hereinafter “Website”) and any services that COMPUTER-BEATZ provides 
(hereinafter “Services”). You represent and warrant to COMPUTER-BEATZ that you have read and understood 
the Terms of Use, and that you have the legal capacity to enter into this Agreement.</li>
<li>COMPUTER-BEATZ reserves the right to change, alter, replace or otherwise modify these Terms of Use 
at any time. The date of last modification is noted at the end of the Terms of Use. It is the USER’s 
responsibility to check the Terms of Use from time to time for updates.</li>
<li>If these Terms of Use are changed to the disadvantage of the USER, COMPUTER-BEATZ will notify USER 
via the email address provided by her/him and the revised Terms of Use will become effective within six (6) 
weeks after such notification, unless User terminates his/her account in writing. If USER does not agree to 
the revised Terms of Use, USER’s may also immediately cancel his/her USER account and stop using 
COMPUTER-BEATZ’s Website and Services.</li>
<li>In the future, COMPUTER-BEATZ may release new services and/or features including the release of new 
tools and resources on its Website. Such new features or services shall also be subject to the present 
Terms of Use as well as any additional Terms of Use that COMPUTER-BEATZ may release for those new features 
or services.</li></ol>
<h3>Description of Service</h3>

<ol><li>COMPUTER-BEATZ is a hosting service provider providing USER with an Internet platform, electronic 
tools, features and services enabling USER to share and discover music and other media content with other 
users of COMPUTER-BEATZ’s Website and Services.</li>
<li>COMPUTER-BEATZ’s Website and Services are provided on an “as is” and “as available” basis. USER 
acknowledges to use COMPUTER-BEATZ’s Website and Services at own risk.</li></ol>
<h3>User Account</h3>
<ol><li>When USER registers for COMPUTER-BEATZ’s Services, USER may choose a username and password and 
will receive a user account from COMPUTER-BEATZ. The USER is solely responsible for maintaining the 
confidentiality and security of his/her username, password and account, and shall be responsible for 
all uses of his/her username and password, whether or not authorized by USER.</li>
<li>USER shall be liable for all activities and transactions occurring under USER’s account, except for 
damages caused by the gross negligent or intentional conduct of COMPUTER-BEATZ.</li>
<li>USER shall notify COMPUTER-BEATZ immediately in writing of any unauthorized use of USER’s account 
including, without limitation, unauthorized use of USER’s password and/or username, or any other breach 
of confidentiality or data security.</li>
<li>It is strictly prohibited to make use of any electronic tools, including spiders, robots (bots), 
crawlers, data mining tools, or any other automated means on COMPUTER-BEATZ’s Website or Services, 
regardless of the purpose and/or configuration and/or mode of operation of such electronic tools. 
Except for the use of indexing for search engines.</li>
<li>COMPUTER-BEATZ may disallow or remove certain usernames and may, with or without prior notice, close 
USER’s account if and when activities occur on that account which constitute, at COMPUTER-BEATZ’s 
reasonable discretion, a violation of the present Terms of Use and/or an infringement of other applicable 
laws and regulations or third party rights. COMPUTER-BEATZ is free to ban USER. That means disabling 
USER account, while keeping information like email address stored to avoid further misuse.</li>
<li>USER can cancel his/her account at any time in the profile settings. USER is solely responsible 
for cancelling his/her account properly. A e-mail from USER to cancel the account will not be considered 
a proper cancellation. Upon cancellation of USER’s account, any and all music, photos, pictures, 
graphics, comments, communications of USER will be irretrievably 
deleted by COMPUTER-BEATZ. Some information USER provided will remain. This includes Artists, Labels, 
Albums and Tracks USER created. On cancelation of an account, this information will not be linked to 
USER anymore. Content provided by USER together with other users (in the federation as a 
project) will not be deleted. If USER attempted to misuse COMPUTER-BEATZ USER login name and 
email address might be stored to server logs. Those logs are not public and are for internal use only. 
USER has no possibility to delete such content.</li></ol>

<h3>User Generated Content</h3>
<ol><li>Any and all music, photos, pictures, graphics, comments, and other content, data or information 
that USER uploads, stores, transmits or submits to COMPUTER-BEATZ’s Website (hereinafter "Content") are 
generated by the USER, but not by COMPUTER-BEATZ. USER’s Content therefore remains in USER’s sole property 
and responsibility.</li>
<li>COMPUTER-BEATZ does not claim any ownership rights in any Content and other materials which USER 
uploads, posts, stores or exchanges through COMPUTER-BEATZ’s Website and Services. This does not onclude the 
information provided when USER creates or alters Labels, Albums, Artists of Tracks.</li>
<li>USER hereby expressly acknowledges and agrees that USER him-/herself, and not COMPUTER-BEATZ, is fully 
responsible for all Content that USER uploads, posts, e-mails, transmits or otherwise makes available 
through COMPUTER-BEATZ’s Website or Services.</li>
<li>USER acknowledges that Content uploaded to, or transmitted through COMPUTER-BEATZ’s Website or Services 
may be protected by copyrights, trademarks, service marks, patents or other intellectual property rights 
and laws. USER must not upload, display, send, transmit or otherwise make available any Content in 
which USER does not have the appropriate rights to do so. Unauthorized copying, distribution, modification, 
display, public performance or other unauthorized use of copyrighted works by USER may constitute an 
infringement of the copyright holders' rights and may result in civil litigation and criminal prosecution.
</li>
<li>Music uploaded by USER participating a Project will be reviewed. COMPUTER-BEATZ reserves the right to 
not publish the music. USER has no right to claim the publication.</li></ol>

<h3>Representations and Warranties</h3>
<p>USER represents and warrants to COMPUTER-BEATZ that:</p>
<ol><li>USER’s Content shall be true, accurate, current, complete and not misleading;</li>
<li>USER’s Content shall not violate the rights of any third party, including, but not limited to, 
copyrights, trademark rights and/or any other intellectual property rights;</li>
<li>USER’s Content shall not create any liability for COMPUTER-BEATZ;</li>
<li>USER’s Content is an original work by USER and/or USER has all necessary rights, licenses, consents 
and permissions to use, and to authorize COMPUTER-BEATZ to use, any and all copyrights, performance rights 
or other intellectual property rights in and to USER’s Content in order to use the Content on 
COMPUTER-BEATZ’s Website and Services;</li>
<li>USER has any and all necessary consent, permission or release of any and all persons identifiable 
in the Content to use the name, photo, picture and likeness of those persons on COMPUTER-BEATZ’s Website 
and Services.</li></ol>
<h3>No Liability for Content</h3>
<ol><li>USER acknowledges that COMPUTER-BEATZ, by providing the USER with the ability to view and 
distribute user-generated Content, is merely acting as a passive conduit (hosting service provider) 
for the distribution of such Content, and that COMPUTER-BEATZ, to the extent permissible by law, does 
not undertake any obligation or liability relating to the Content or to the USERS' activities.</li>
<li>USER acknowledges and agrees that COMPUTER-BEATZ cannot and does not generally review the Content 
created or uploaded by USER. USER acknowledges and agrees that COMPUTER-BEATZ do not undertake or 
assume any duty to generally monitor the Website for inappropriate Content.</li>
<li>COMPUTER-BEATZ assumes no responsibility or liability which may arise from the Content of 
COMPUTER-BEATZ’s Website and Services, including, but not limited to, claims for libel, slander, defamation, 
invasion of privacy and publicity rights, pornography, obscenity, fraud, or misrepresentation.</li>
<li>COMPUTER-BEATZ reserves the right to block, remove or delete any Content, communications, postings, 
and/or other data or information if COMPUTER-BEATZ, in its own sole and unfettered discretion, has reason 
to believe that such Content and/or other data or information may infringe the rights of a third party, 
and in particular if COMPUTER-BEATZ deems such Content and/or other data to be
<ol><li>misleading, fraudulent, or deceptive; or</li>
<li>defamatory, abusive, or obscene; or</li>
<li>possibly in violation of a copyright, trademark, patent, trade secret, or other intellectual property 
right; or</li>
<li>possibly in violation of any applicable law or regulation; or</li>
<li>otherwise unacceptable.</li></ol></li>
<li>COMPUTER-BEATZ will terminate a user's access to its Services if, under appropriate circumstances, 
the user is determined to be a infringer.</li></ol>
<h3>Grant of License</h3>
<p>COMPUTER-BEATZ does not have any ownership rights in USER’s Content. After posting your Content on, 
through or in connection with the Services, you continue to retain any such rights that you may have in 
your Content, subject to the limited license COMPUTER-BEATZ requires so that it can perform the Service 
for its users:</p>
<ol><li>By posting Content to the Website, to the extent required to enable the performance of the Services, 
USER grants COMPUTER-BEATZ and other users of the COMPUTER-BEATZ Services a limited worldwide, non-exclusive, 
royalty-free, license to use, copy, transmit or otherwise distribute, publicly perform, digitally perform, 
publicly display, and/or otherwise make USER’s Content available to other users of COMPUTER-BEATZ’s Website 
and Services.</li>
<li>This license does not grant COMPUTER-BEATZ the right to sell USER’s Content or otherwise distribute 
it outside of COMPUTER-BEATZ's Website or Services, provided however, that streaming of Content on third 
party Websites via embedded widgets (“Linked Services”) shall not be deemed a distribution outside of 
COMPUTER-BEATZ’s Website or Service.</li>
<li>The use of music available through COMPUTER-BEATZ's Website or Services is bound to a license the 
USER providing the music can pick when providing the music.</li>

<li>USER may set further restrictions to the licenses granted under Subsections 1 to 3 of this Section 
at any time.</li>
<li>The license granted under Subsections 1 to 3 will terminate after USER removes the Content from 
the Website. Notwithstanding the foregoing, USER understands and agrees that once Content is distributed 
to a Linked Service, COMPUTER-BEATZ is not obligated to delete or ask other users or a Linked Service 
to delete that Content, and therefore that Content may continue to appear and be used indefinitely.</li></ol>
<h3>Indemnification</h3>
USER agrees to indemnify, defend and hold harmless COMPUTER-BEATZ from and against any and all claims, 
obligations, damages, losses, expenses, and costs, including reasonable attorneys' fees, resulting from:
<ol><li>any violation of the present Terms of Use;</li>
<li>any use of USER’s Content by COMPUTER-BEATZ itself (if any), or by COMPUTER-BEATZ’s other users 
or by any other person or third party under these terms of use, including, but not limited to, any third 
party claim of infringement of a copyright or other intellectual property right or invasion of privacy;</li>
<li>any activity related to USER’s account, be it by USER him-/herself, or by any other person accessing 
USER’s account.</li></ol>
<h3>No Liabilty for Links, Third Party Websites and Services</h3>
<ol><li>COMPUTER-BEATZ’s Website and Services may contain features and functionalities that may link 
USER to, or provide USER with certain functionalities and access to, third party websites, databases, 
networks, servers, information, software, programs, systems, directories, applications, products or 
services (hereinafter “External Websites”).</li>

<li>COMPUTER-BEATZ does not have any control over those External Websites, and is not responsible for 
their content or their use. By linking to an External Website, COMPUTER-BEATZ does not represent or imply 
that it endorses such website, its content or any other information and/or material contained therein.</li>
<li>USER is solely responsible for his/her dealings with any third party related to the External Website, 
including the delivery of and payment for goods and services. USER should make whatever investigation he/she 
feels necessary or useful before proceeding with any online or offline transaction with any third party 
related to External Websites. The USER is solely responsible for taking precautions as necessary or 
useful to protect him-/herself from fraud etc., and his/her computer systems from viruses, worms, 
Trojan horses, and other harmful or destructive content and material on External Websites.</li>
<li>COMPUTER-BEATZ disclaims any responsibility for any harm resulting from USER’s accessing External 
Websites, and USER irrevocably waives any claim against COMPUTER-BEATZ with respect to such sites and 
third-party content.</li></ol>
<h3>Waiver of Claims</h3>
USER irrevocably waives the right to assert any claim against COMPUTER-BEATZ in relation to the Content 
generated, uploaded, transmitted or otherwise used on COMPUTER-BEATZ’s Website or Services, including, 
but not limited to, copyright, trademark, unfair competition, invasion of privacy, breach of contract or 
breach of confidentiality.
<h3>Procedure in Case of Alleged Rights Infringements</h3>
General Procedure
<ol><li>COMPUTER-BEATZ encourages USER to notify COMPUTER-BEATZ of any Content that USER believes to be in 
violation of copyright, trademark, any other intellectual property rights, or any other applicable law, 
or of any Content that contains undesirable texts or images of, or links or references to, pornography, 
violence, racism, or content that is otherwise discriminatory or objectionable.</li>
<li>In case USER believes that his/her Content has been used by other users of COMPUTER-BEATZ’s Website in 
a way that constitutes copyright infringement, or a violation of other intellectual property rights, 
please flag the Content you think is infringing using the "Report" link.
<ol><li>a specific description of the relevant work protected by copyright or other intellectual property 
right (hereinafter the “Work”), and where the Work is located on COMPUTER-BEATZ;</li>

<li>comprehensive evidence that USER claiming the infringement is the owner of the Work and all copyrights 
or intellectual property rights in and to the Work, or alternately, that USER is fully authorized to act 
on behalf of the owner of the Work and all related rights;</li>
<li>a detailed explanation of the facts and circumstances that constitute the alleged copyright infringement 
or violation of other intellectual property right; and</li>
<li>USER’s full name, postal address, telephone number and e-mail address.</li></ol></li>
<li>Upon receipt of such notification and all required information and materials, COMPUTER-BEATZ will 
examine the case, will contact the USER in due course, and will, in its sole discretion, determine if 
and (if so) what action to take in response to each such notification.</li></ol>
<h3>Data Protection, Privacy and Security</h3>
<ol><li>COMPUTER-BEATZ complies with the applicable data protection laws and regulations tries to the best 
of our knowledge to protect the confidentiality and security of communications transmitted via 
COMPUTER-BEATZ’s Website and Services and information stored on servers controlled by COMPUTER-BEATZ.</li>
<li>USER shall under no circumstances

<ol><li>violate or attempt to violate the data security of COMPUTER-BEATZ;</li>
<li>access data or materials which are not intended for USER;</li>
<li>log into a server or account which USER is not authorized to access;</li>
<li>attempt to probe, scan or test the vulnerability of COMPUTER-BEATZ’s servers, system or network or 
to breach data security or authentication measures of COMPUTER-BEATZ</li>
<li>attempt to interfere with COMPUTER-BEATZ’s service to any user, host or network, by any means 
including, without limitation, hacking COMPUTER-BEATZ’s servers or systems, submitting a virus, 
overloading, "mail-bombing", "flooding" or "crashing", or by means of using electronic tools, 
including spiders, robots (bots), crawlers, data mining tools, or any other automated means on 
COMPUTER-BEATZ’s Website or Services, regardless of the purpose and/or technical configuration of such 
electronic tools.</li></ol></li>
<li>USER’s violation of system or network security may result in civil procedures and/or criminal 
prosecution. COMPUTER-BEATZ reserves the right to investigate occurrences that may involve such 
violations and may involve and cooperate with law enforcement authorities in prosecuting any users 
who have participated in such violations.</li>
<li>Registration data and other personal information about USER are subject to our 
<%= link_to 'Privacy Policy', {:controller => :static, :action => :privacy_policy}, 
					 {:popup => ['computer-beatz_privacy_policy', 
						'height=600,width=500, dependent=yes, location=no, scrollbars=yes, status=no, toolbar=no']} %>. By accepting these Terms of Use, USER is 
also accepting the terms of the Privacy Policy, which are incorporated herein by reference for all 
purposes.</li></ol>





<h3>Competitions</h3>
<p>COMPUTER-BEATZ may run, host or support competitions, promotions, prize draws and other opportunities 
on the Website or in its Services and these opportunities will be subject to separate terms and conditions 
of the organizer of such opportunities. Details of the specific competition, promotion, prize draw and/or 
other opportunity and a link to the applicable terms and conditions will be posted on the Website. 
It is your responsibility to read those terms and conditions for details and any eligibility requirements. 
COMPUTER-BEATZ does not bear any responsibility or liability for the actions of any third parties who 
organize or are otherwise involved in any of these opportunities.</p>
<h3>Changes of Website and Services</h3>
<ol><li>COUMPUTER-BEATZ may change or modify the products, services and functionalities of the Website 
and/or Services at any time without notice.</li>
<li>USER agrees that COUMPUTER-BEATZ shall not be liable to USER or to any third party for any changes 
or modifications of Website and/or Services and/or USER’s possibility to use or access COUMPUTER-BEATZ’s 
Website and/or Services.</li></ol>
<h3>Termination of Website and Services</h3>
<ol><li>COUMPUTER-BEATZ reserves the right at any time to suspend, discontinue, terminate or close down its 
Website and/or Services (or any part thereof), temporarily or permanently, without notice.</li>
<li>USER agrees that, COUMPUTER-BEATZ shall not be liable to USER or to any third party for any suspension, 
discontinuance, termination or close down of the Website and/or Services and/or USER’s possibility to 
use or access COUMPUTER-BEATZ’s Website and/or Services.</li></ol>

<h3>Assignment of Rights and Duties to Third Parties</h3>
<p>COUMPUTER-BEATZ may assign the rights and duties under the present Terms of Use, in part or in whole, 
to any third party at any time without notice. USER may not assign this Agreement or the rights and 
duties herein, in part or in whole, to any party without the prior written consent of COUMPUTER-BEATZ.</p>
<h3>Applicable Law and Jursidiction</h3>
<ol><li>The legal relationship between COUMPUTER-BEATZ and USER shall be subject to the laws of the 
Federal Republic of Germany excluding the principles of conflict of laws (international private law).</li>
<li>COUMPUTER-BEATZ and the USER agree to submit to the exclusive jurisdiction of the courts at the 
domicile of COUMPUTER-BEATZ owner for resolution of any dispute, action or proceeding arising in 
connection with these Terms of Use and COUMPUTER-BEATZ’s Website and Services.</li></ol>
<h3>Severability Clause</h3>
<p>Should one ore more provision of the present Terms of Use be unlawful, void, or unenforceable, 
such provision(s) shall be deemed severable and will not affect the validity and enforceability of 
the remaining provisions of the Terms of Use; the remainder of the Terms of Use will thus remain 
in full force and effect.</p>

<h3>Entire Agreement</h3>
<p>This Agreement constitutes the entire agreement between COUMPUTER-BEATZ and USER with respect to 
COUMPUTER-BEATZ’s Website and Services, and supersedes any prior agreement between COUMPUTER-BEATZ 
and USER.</p>

COMPUER-BEATZ is not run by a company but by a single Person.<br /><br />

Christopher O&szlig;ner
<br />Wolfsgrube 17
<br />88069 Tettnang<br />
<%= mail_to("chris@computer-beatz.de" , "email" ,
										:subject => 'TERMS',
										:encode => "javascript" ) %><br />
<br />

Date: September 15, 2010