	<div id="header2">
		
		<div id="adv-search">
			<%= link_to_unless_current "advanced search", :controller => 'music', :action => 'advanced_form' %>
		</div>
		
		<%= render :partial => 'shared/head2_sub' %>