<%= link_to '&lt;&lt; Invitations overview', user_invitations_path(current_user) %><br />

<div class="list-head-seperator">
		Invitations to become an admin of a group
	</div>
	<table class="list-entries">
		<%= render :partial => 'list_admin_invitations', :collection => @admin_invitations, :as => :invitation %>
	</table>