<h3>Release policy</h3>
<p>
	<em>The mp3 tags will get modified!</em><br />
	The <em>artist</em> tag will be set to '[www.computer-beatz.net]' + <i>project name</i>.<br />
	The <em>title</em> tag will be set to the <i>release title</i>.
    The <em>album</em> tag will be set emtpy.<br />
    The <em>year</em> tag will be set to today`s year. (You still can tell the day/moth/year/decade of creation in the description).
    The <em>comments</em> tag will be set to 'This track is released on www.computer-beatz.net'
</p>
<p>
	<em>The uploaded picture will get modified.</em><br />
	There will be a 40px x 40 px version with a play button overlay.<br />
	And two versions (250px x 250px / 800px x 800px) with a watermark ('www.computer-beatz.net').</em><br />
	Pictures with less than 800px (in at least one dimension) will be placed on a white canvas. 
</p>
