<h1>Welcome to the computer-beatz administration</h1>
<p>
	Number of entries in <em>Labels</em>: <%= @labels_count %>
</p>
<p>
	Number of entries in <em>Artists</em>: <%= @artists_count %>
</p>
<p>
	Number of entries in <em>Tracks</em>: <%= @tracks_count %>
</p>

<p>
	Number of entires in <em>User</em>: <%= @user_count %>
</p>
