<h2>FAQ - <br />
Frequently Asked Question</h2>

<a name="top"></a>
<ul>
	<li>
		<a href="#beta_v">Currently <i>beta</i>, what does that mean to me?</a>
	</li>
	<li>
		<a href="#aim">What is CB good for?</a>
	</li>
	<li>
		<a href="#need">Why does one need CB when there is ...?</a>
	</li>
	<li>
		<a href="#account">Do I need an account?</a>
	</li>
	<li>
		<a href="#browser">Wich browser is ok? Do I need <i>Javascript, 
		Flash, Cookies?</i></a>
	</li>
	<li>
		<a href="#search">How do I search for something?</a>
	</li>
	<li>
		<a href="#association">What is the association between <i>Labels, Artists, Albums</i> and <i>Tracks</i>?</a>
	</li>
	<li>
		<a href="#colab">How are collaborations of artists modelled in the database?</a>
	</li>
	<li>
		<a href="#compilations">How are compilations are modelled in the database?</a>
	</li>
	<li>
		<a href="#groups">How do groups work?</a>
	</li>
	<li>
		<a href="#participate">How can I participate / upload music?</a>
	</li>
	<li>
		<a href="#license">What I am allowed to do with music found here?</a>
	</li>
</ul>

<h3><a name="beta_v">Currently <i>beta</i>, what does that mean to me?</a></h3>
<p>
	Well, Computer-Beatz comes out of the forge right away. Don`t be afraid, it`s unlikly to burn your PC. 
	I really hope that everything works fine, but there might be some issues here and there. Nothing dramatic 
	- the information you post is unlikely to get lost. But maybe the last tweak will need some more days 
	(or weeks or month).
</p>
<a href="#top">Back to index</a>

<h3><a name="aim">What is CB good for?</a></h3>
<p>
	computrer-beatz has three major colums:
	<ol>
		<li>
			<strong>Database: </strong>
			Here each registered user can create <em>Artists, Labels, Albums</em> and <em>Tracks</em> and 
			associate them wich each other. You can rate, comment and mark those entries as favourite. 
		</li>
		<li>
			<strong>Community: </strong>
			You can look for other users and communicate with them via massages and in groups. Each registered 
			user can create groups and participate in groups. Read more about groups 
			<a href="#groups">here.</a> 
		</li>
		<li>
			<strong>Weblabel: </strong>
			Last but by no means least is computer-beatz weblabel. Each registered user can upload music 
			(wich will be reviewed) and make it public that way. Everybody can listen to and download that 
			music.
		</li>
	</ol>
</p>
<a href="#top">Back to index</a>
<h3><a name="need">Why does one need CB when there is ...?</a></h3>
<p>
	There are some other major domains that provide very similar services. Why is there the need for 
	computer-beatz? Well, there is no <i>need</i> for computer-beatz. But it can be fun and productive anyway. 
	Beside the fact that computer-beatz is still small and each user thus has the chance to get involved 
	easily, computer-beazt is focused. Computer-beatz special interest is electronic music. But that does not 
	mean you shouldn`t share your alternative or classic music. And computer-beatz especially wants to be 
	a place to talk about music that might be available only on vinyl.
</p>
<a href="#top">Back to index</a>
<h3><a name="account">Do I need an account?</a></h3>
<p>
	If you are not registered you are free to browse most of the content as well as listen to, download and 
	comment music released on computer-beatz. But thats it. Only registered users are able to comment on 
	the music database, rate the entries there and mark them as favourite. Of course messenging and groups 
	are available for registered users only.
</p>
<a href="#top">Back to index</a>
<h3><a name="browser">Wich browser is ok? Do I need <i>Javascript, 
Flash, Cookies?</i></a></h3>
<p>
	Computer-beatz tries to get along with all browsers. But of course you are encouraged to use an upto date 
	browser. Not only because of computer-beatz but there are frequent security fixes for most browsers. 
	If you log-in computer-beatz currently uses a <i>cookie</i> to identify you. So you need <i>cookies</i> <b>not</b> be 
	disabled. Currently you really should have <i>Javascript</i> enabled (that is the standart for almost any browser). 
	I will try to take care of the actions that work only with Javascript in the moment. But it will always be a more 
	confortable browsing expirience having Javascript. Javascript is also used to warn you, e.g. if you are about to 
	delete a message. For the Javascript sceptics: Computer-Beatz is aware of the Javascript security issues. But of course 
	there never can be 100% security.<br /> 
	To listen to the published music with the Computer-Beatz player and for embedded YouTube videos you need <i>Javascript</i> and 
	<i>Flash (v9 or higher).</i> Of course you can listen to the Computer-Beatz releases if you download them, without the 
	need for neither Flash nor Javascript.
</p>
<a href="#top">Back to index</a>
<h3><a name="search">How do I search for something?</a></h3>
<p>
	There is a search field in the upper right when you browse the database, people or groups. Depending 
	on what you browse in the moment, the search will look for different (the approrpiate) type of entries.  
	The seacrch for <em>Labels, Artists, Albums</em> and <em>Tracks</em> (database) and for <em>people</em> 
	features the following syntax:
</p>
	<table>
		<tr>
			<td>
				<i>&gt;&gt;</i>+<i>&lt;&lt;</i> 
				<i>&gt;&gt;</i> <i>&lt;&lt;</i> (blank space)
				<i>&gt;&gt;</i>,<i>&lt;&lt;</i>
			</td>
			<td>
				AND
			</td>
		</tr>
		<tr>
			<td>
				<i>&gt;&gt;</i>#<i>&lt;&lt;</i>
			</td>
			<td>
				AND NOT
			</td>
		</tr>
		<tr>
			<td>
				<i>&gt;&gt;</i>|<i>&lt;&lt;</i>
			</td>
			<td>
				OR
			</td>
		</tr>
	</table>
<p>
	E.g. <i>Miss Kittin #Djax | Hacker</i> will find items that either match <i>Miss Kittin</i> or 
	<i>Hacker</i> (also <i>The Hacker</i>) but no items that match <i>Djax</i> (like <i>Miss Djax</i>).
	The <em>advanced search</em> will give you further control. There you can pass strings for several fields 
	(also e.g. <em>tags</em>).<br />
	<strong>Group search</strong> works different. The group search if a full-text search. That means each 
	post in each group is considered. Just pass some words (you are interested in), as you do when 
	searching on Google and co.
</p>
<a href="#top">Back to index</a>
<h3><a name="association">What is the association between <i>Labels, Artists, Albums</i> and <i>Tracks</i>?</a></h3>
<p>
	Well, things are sophisticated in the music business. As it would be rather confusing than pleasuring 
	to model each and every possible association computer-beatz focus on the following:<br />
	No association is a must, so no item has to be associated with some other!
	<ul>
		<li>
			A <i>Track</i> (or Song) is created by an <i>Artist</i> (also see <a href="#colab">Collaborations</a>) 
			and thus can be associated with one (exactly one). An <i>Artist</i> may have many <i>Tracks</i>.
		</li>
		<li>
			A <i>Track</i> also can be associated with an <i>Album</i>. As a track might be published 
			on a <a href="#compilations">Compilation</a> as well, tracks can be associated with 
			several albums. An <i>Album</i> has many <i>Tracks</i>.
		</li>
		<li>
			A <i>Track</i> can be associated with a <i>Label</i>. A <i>Label</i> has many <i>Tracks</i> 
			in turn.
		</li>
		<li>
			An <i>Album</i> can be associated with exactly <b>one</b> <i>Artist</i> (also see 
			<a href="#compilations">Compilations</a>). An <i>Artist</i> can have many <i>Albums</i>.
		<li>
			An <i>Album</i> can be associated with exactly <b>one</b> <i>Label</i> (also see 
			<a href="#compilations">Compilations</a>). <i>Labels</i> have many <i>Albums</i> in turn.
		</li>
		<li>
			Because of the associations between <i>Tracks</i> / <i>Albums</i> and <i>Labels</i> on the 
			one hand and the association between <i>Tracks</i> and <i>Artists</i> on the other, 
			<i>Artists</i> are associated indirectly with possibly many Labels.
		</li>
	</ul>
</p>
<a href="#top">Back to index</a>
<h3><a name="colab">How are collaborations of artists modelled in the database?</a></h3>
<p>
	As mentioned before - things are sophisticated! Computer-beatz does it like that:<br />
	<i>Artist 1</i> and <i>Artist 2</i> both might have publications on their own. And those two might 
	have publications together, like <i>Artist 1 vs. Artist 2</i>. We do not model this kind of association. 
	So the collaboration is considered to be an extra artist. This keeps things a little easier and you will 
	still find such collaborations if you e.g. search for <i>Artist 1</i>. 
</p>
<a href="#top">Back to index</a>
<h3><a name="compilations">How are compilations are modelled in the database?</a></h3>
<p>
	Gotta repeat, that things are sophisticated. 
	A compilation is an <i>Album</i> with some specialities. It features many artists. 
	Because of that, a compilation (an <i>Album</i>), should 
	<b>not</b> be associated with an <i>Artist</i> - that`s nonsens! As having many <i>Tracks</i>, the compilation is indirectly 
	associated with many artists. Well, this association is currently not shown, but you will find the artists 
	when you click one of the compilation`s tracks.
</p>
<a href="#top">Back to index</a>
<h3><a name="groups">How do groups work?</a></h3>
<p>
	Each registered user can created groups. There are two independent options when you create one: (a)
	Public/Non-public - If <i>non-public</i>, only users who join the group can read the posts. (b)Open/Locked - 
	if <i>open</i> every registered user can join the group and post to it. If <i>locked</i> a user can ask 
	to join the group. The group administrator will be notified and can either approve the request or deny it. 
	When you create a group, you are the administrator. You are responsible to keep the group <i>clean</i>, 
	as the administrator has the ability to delete posts. The administration can be given away to an other 
	user, if this user accepts that request.
</p>
<a href="#top">Back to index</a>
<h3><a name="participate">How can I participate / upload music?</a></h3>
<p>
	As a registered user you can create <i>Projects</i>. You can invite other users to your projects (yep, 
	we make collaboration available here ;). The invited users will get notified. If a user approves your 
	request to join, she/he will get a full member of the project. Each member has the same privileges! A 
	<i>Project</i> can upload music. The music uploaded will get reviewed (details for the upload process 
	are given on the <i>upload</i> page). If you pass computer-beatz incredible challenging review process 
	(actually it isn`t), the upload will be published. Make sure to stick to the terms. That means you 
	have to have the full copyright for files you upload! This includes the right for <i>sampled</i> 
	sounds!<br />
	You are also invited to participate in other ways. Good at graphic design? Maybe you like to do 
	some cool covers for releases. Or you like to clean up my HTML and CSS? Computer-Beatz is a RoR (Ruby on Rails) 
	application. So if you speak Ruby and you like to help improving Computer-Beatz, I`d be glad to set 
	up a web repository.
</p>
<a href="#top">Back to index</a>
<h3><a name="license">What I am allowed to do with music found here?</a></h3>
<p>
	First of all: You don`t have to pay for music on computer-beatz. Isn`t that great? Well, what exactly 
	you are allowed to do differs from project to project. Each project can pick between several 
	<a href="http://creativecommons.org" target="_blank">Creative Commons</a> licenses. As well as specify own rules, e.g. 
	on how to attribute the work. Wich license is valid for a publication is shown on the publication`s 
	page.
</p>
<a href="#top">Back to index</a>