<h3>About computer-beatz</h3>
<p>
	Computer-beatz is a <i>beta</i> version at the moment. That means 
	there might be some things not working as supposed. Be kind 
	and contact, if you expirience some strange behavoir. Well, most 
	functions should work... maybe it`s already <i>stable</i>, who knows;) 
	During development I used Firefox v3, I also checked some sore spots 
	of the site in IE8, if you use any other browser or prior versions, 
	the layout might look strange. I`ll take care of that soon, but till then 
	I´d be glad to hear from you, if the layout breaks.
</p>
<p>In the beginning the was music. Well, computer-beatz currently is a 
one man project, means all the development was done by one person (me). 
I started producing music many years ago. In days when there was no 
SoundCloude or muxtape or last.fm. There have been some prior versions 
of this domain. After a long absence, I am proud to present you an upto 
date web2.0 page. What elese sould I tell... If you got critic, questions or 
suggestions, feel free to drop me a line:<br /><br />
Christopher O&szlig;ner<br />
Wolfsgrube 17<br />
88069 Tettnang<br />
Germany<br />
<%= mail_to("chris@computer-beatz.net" , "Email", :encode => "javascript" ) %>
</p>