<p>
	You think computer-beatz is a cool domain? You got a domin yourself? 
	You want computer-beatz to link to you? This is the right place! 
	Just drop me a line and tell me the domin and we can see how we get it 
	going.
	<br /><br />
	<%= mail_to("chris@computer-beatz.net" , "Contact" ,
								:encode => "javascript" ) %>
</p> 